@charset "utf-8";

/* Base */
body {
    color: #6c6c6f;
    font-size: 16px;
    font-family: Helvetica, sans-serif, Arial;
    line-height: 1.75;
    letter-spacing: 0;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* Layout */

.l-inner {
    width: 88%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.l-mb4 {
    margin-bottom: 40px;
}

.l-mb4_6 {
    margin-bottom: 46px
}

.l-mb7 {
    margin-bottom: 70px
}

.l-py8 {
    padding: 80px 0;
}

.l-p6 {
    padding: 60px;
}

.l-p4 {
    padding: 40px;
}

.l-p2_6 {
    padding: 26px 40px;
}

.l-max-width {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}

/* text */
.l-text-center {
    text-align: center;
}

.l-text-center .btn,
.l-text-center .card-icon {
    margin-right: auto;
    margin-left: auto;
}

/* flexbox */
.l-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.l-col2 {
    width: 46%;
}

.l-col3 {
    width: 30%;
}

/* color */
.l-bg-blue {
    color: #fff;
    background-color: #123D88;
}

.l-bg-water {
    background-color: #F7FAFF;
}

.l-bg-ash {
    color: #fff;
    background-color: #505050;
}

.l-bg-ash .unit-title,
.l-bg-blue .unit-title {
    color: #fff;
}

/* header */
.l-header {
    padding: 30px 0;
}

/* footer */
.l-footer {
    padding: 32px 0;
    text-align: right;
    font-size: 15px;
    color: #fff;
}


/* Module */

/* unit */
.unit-catch {
    color: #256BE6;
    font-size: 14px;
    letter-spacing: .05em;
    margin-bottom: 20px;
    /* 文字を常に大文字にする */
    text-transform: uppercase;
}

.unit-title {
    margin-bottom: 30px;
    color: #262934;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.3;
}

/* card */
.card-icon {
    margin-bottom: 40px;
}

.card-title {
    color: #2F2F35;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 20px;
}

.card-space {
    padding: 40px;
    background-color: #fff;
}

.card-border {
    border: 1px solid #6C6C6F;
}

.card .btn {
    margin-top: 40px;
}

/* btn */
.btn {
    display: block;
    width: 200px;
    margin-top: 60px;
    padding: 20px;
    background-color: #256BE6;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    letter-spacing: .025em;
    border-radius: 30px;
}

.btn-info {
    background-color: #2DBE61;
}

.btn-orange {
    background-color: #F87624;
}

.btn-outline {
    border: 1px solid #fff;
    background-color: transparent;
}